@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body, ol,ul,p,.row,a,label {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #000;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
header {
  background: #0063B0;
}
header#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menucontainer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menucontainer ul li a {
    display: block;
    color: #fff;
    padding: 30px 20px;
}

/*custom slider*/

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  width: 100%;
  margin: 0px;
  height: 650px;
  background: #ccc;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  background: #ccc;
  color: #fff
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
#slider ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: normal;
    /* height: 600px; */
    position: relative;
}

.slideData {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
}

#slider ul {
    max-width: 100% !important;
    margin: 0px !important;
}

.slideData h2 {
    max-width: 346px;
    color: #fff;
    font-size: 42px;
    text-align: left;
}

.slideData p {
    max-width: 643px;
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    opacity: 0.8;
    margin: 30px 0px;
}

.sliderButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    flex-wrap: wrap;
}

.sliderButton a:first-child {
    border: 2px solid #0D63B0;
    background: #0D63B0;
    color: #fff;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 45%;
}

.sliderButton a:last-child {
    border: 2px solid #fffffff0;
    background: #0d63b000;
    color: #fff;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 45%;
}


a.control_prev {
    background: #fff;
    opacity: 1;
    color: #000;
    padding: 0px;
    width: 82px;
    height: 31px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
    font-size: 0;
}

a.control_prev::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

a.control_prev::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: -9px;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  border-top: 0;
  
  border-right: 0;
}

a.control_next {
    background: #fff;
    opacity: 1;
    color: #000;
    padding: 0px;
    width: 82px;
    height: 31px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    font-size: 0;
    transform: rotate(180deg);
}
a.control_next::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

a.control_next::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: -9px;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  border-top: 0;
  border-right: 0;
}
.aboutussectionhoempage .row {
    align-items: center;
}

.aboutussectionhoempage img {
    width: 100%;
    height: 100%;
    min-height: 497px;
    object-fit: cover;
}

.aboutussectionhoempage {
    padding: 100px 0px;
}

div#aboutsection {
    padding-right: 100px;
}

div#aboutsection h6 {
    font-size: 18px;
}

div#aboutsection h2 {max-width: 317px;margin-bottom: 20px;}

div#aboutsection p {
    max-width: 531px;
    line-height: 30px;
    font-size: 15px;
}

div#aboutsection > a {
    border: 2px solid #0D63B0;
    background: #0D63B0;
    color: #fff;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 45%;
    margin: 40px 0px;
}

.brands .carousel {
  margin: 20px;
}
.brands .carousel__view {
  /*width: calc((200px*4) + 22px);*/
  width: 100%;
  height: 300px;
  background: white;
  box-shadow: 0 1px 8px #888888;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.brands .carousel__control {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 70px;
  background-color: rgba(221, 221, 221, 0.5);
  transition: background-color .3s;
  display: table;
}
.brands .carousel__control .icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.brands .carousel__control:hover {
  background-color: rgba(221, 221, 221, 0.8);
}
.brands .carousel__control:first-of-type {
  left: 0;
}
.brands .carousel__control:last-of-type {
  right: 0;
}

.brands .product-list {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: transform .3s;
  transform: translateX(0px);
  list-style: none;
  height: 300px;
}

.brands .product {
    display: flex;
    align-items: center;
  height: 100%;
  width: 100%;
}
.brands .product span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 50px;
}

.brands .carousel {
    width: 100%;
    margin: 0px;
}

.brands .product-list__item {
    width: 215px;
    height: 175px;
    display: inline-block;
}

.brands .product-list {
    display: flex;
    align-items: center;
}

/*.brands .product-list__item:nth-child(even) {
    margin: 0px 20px;
}*/

.brands .carousel__view {
    box-shadow: none;
    position: relative;
}


.brands .carousel__control:last-of-type {
    position: absolute;
    padding: 0px;
    height: max-content;
    width: max-content;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    max-height: max-content;
    background: #FBF9F2;
    width: 82px;
    height: 31px;
    border-radius: 40px;
    font-size: 0;
    display: flex;
    cursor: pointer;
    right: - 100px;
}

.brands .carousel__control:last-of-type::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.brands .carousel__control:last-of-type::before {
  content: "";
  display: block;
  width: 10px;
  height: 11px;
  border: 1px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -8px;
  margin: auto;
  border-left: 0;
  border-bottom: 0;
}

.brands .carousel__control.js-carousel-prev {
    position: absolute;
    padding: 0px;
    height: max-content;
    width: max-content;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    max-height: max-content;
    background: #FBF9F2;
    width: 82px;
    height: 31px;
    border-radius: 40px;
    font-size: 0;
    cursor: pointer;
    transform: rotate(-180deg);
    display: flex;
}

.brands .carousel__control.js-carousel-prev::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.brands .carousel__control.js-carousel-prev::before {
  content: "";
  display: block;
  width: 10px;
  height: 11px;
  border: 1px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -8px;
  margin: auto;
  border-left: 0;
  border-bottom: 0;
}
.brands .container {
  max-width: 1340px;
}
div#slider {
    max-width: 100%;
}
img {
  max-width: 100%;
  object-fit: cover;  
}
body {}

.menutabs {
    background: #b08a0d36;
    padding: 50px 0px;
}

.menutabss ul {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #7070702e;
    /* padding: 20px 10px; */
    margin: 20px 0px;
}

.menutabss ul li {
    padding-bottom: 20px;
    margin-right: 30px;
    cursor: pointer;
    opacity: 0.3;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
}

.menutabss ul li.active {
    opacity: 1;
    border-bottom: 3px solid #000;
}

.menutabs .container > h6 {
    text-transform: capitalize;
}

.menutabs .container > h2 {
    margin-bottom: 50px;
}

.productscontainer ul {
    display: flex;
    flex-wrap: wrap;
}

.productscontainer ul li {
    max-width: 23%;
    margin: 0px 11px;
    margin-bottom: 40px;
}

.productscontainer ul li img {
    height: 183px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.productdata {
    background: #ffff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 16px;
}

.productdata h5 {
    font-size: 18px;
}

.productdata .price {
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
}

.proceandcart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 0px;
}

a#addtocartFromProducts {
    width: 39px;
    height: 39px;
    border: 2px solid #0063B0;
    background: #0063B0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
}
a#seeallMenu {
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0px;
}
.card {
  height: 610px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  margin: 10px;
  flex: 348px 0 0;
}
.cards img {
    width: 100%;
    object-fit: cover;
}
.cards-wrapper {
  display: flex; 
  transition: ease 0.5s;
}
.display-area {
  width: 880px;
/*   border: 1px solid black; */
  overflow-x: hidden;
  margin: auto;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dot.active {
  background: rgba(0, 0, 0, 0.5);
}
.feautretab {
    min-height: 700px;
    display: flex;
    align-items: center;
    background: url('./images/2.png');
    color: #fff;
}

.contentfeatureproduct h6 {
    font-size: 18px;
    opacity: 0.8;
}

.contentfeatureproduct h2 {
    font-size: 42px;
    max-width: 360px;
}

.contentfeatureproduct .price {
    color: #fff;
    letter-spacing: 0;
    font-size: 28px;
    margin: 30px 0px 0px;
}

span.strikeThrough {
    text-decoration: line-through;
    font-size: 17px;
    opacity: 0.6;
}

.contentfeatureproduct > a {
    min-width: 164px;
    background: #009CDC;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    border-radius: 11px;
    margin: 20px 0px 0px;
}